# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# 前端
node_modules/
dist/
.env*
!/.env.example

# 数据库
# 数据库文件应被忽略，例如: backend/data/*.db
*.db

# 临时文件和数据
temp/

# 日志
log/
*.log
